{% extends "main.html" %}
{% block title %}
<title>API LOGS</title>
{% endblock %}

{% block content %}
</div>
<div class="col-11">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0 d-flex align-items-center justify-content-center">
                سجلات
            </h4>
        </div>
        <div class="card-body">
            <!-- Filter Form -->
            <form method="get" action="{{ url_for('view_logs') }}" class="form-inline mb-3 gap-2">
                <input type="text" name="table_name" value="{{ tab.table_name }}" hidden />
                <!-- d-flex justify-content-center align-items-center -->
                <div class="row">
                    <div class="col-md-2">
                        <label for="per_page" class="me-2">عدد السجلات:</label>
                        <select name="per_page" id="per_page" class="form-select w-auto">
                            {% for n in [10, 20, 50, 100, 150, 200] %}
                            <option value="{{ n }}" {% if tab.per_page == n %}selected{% endif %}>{{ n }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="order_by" class="me-2">ترتيب حسب:</label>
                        <select name="order_by" id="order_by" class="form-select w-auto">
                            {% for order_type in order_by_types %}
                            <option value="{{ order_type }}" {% if tab.order_by == order_type %}selected{% endif %}>
                                {{ order_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="order" class="ms-3 me-2">ترتيب السجلات:</label>
                        <select name="order" id="order" class="form-select w-auto">
                            <option value="DESC" {% if tab.order == 'DESC' %}selected{% endif %}>DESC</option>
                            <option value="ASC" {% if tab.order == 'ASC' %}selected{% endif %}>ASC</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="status" class="ms-3 me-2">الناتج:</label>
                        <select name="status" id="status" class="form-select w-auto">
                            {% for st in status_table %}
                            <option value="{{ st }}" {% if tab.status == st %}selected{% endif %}>{{ st }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary ms-3" type="submit" onclick1="applySettings()">تطبيق</button>
                    </div>
                </div>
            </form>
            <div class="row mt-4">
                <div class="col-12">
                    <!-- Pagination Navigation -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <!-- First page -->
                            <li class="page-item {% if tab.page == 1 %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('view_logs', page=1, per_page=tab.per_page, order=tab.order, table_name=tab.table_name, status=tab.status) }}"
                                    aria-label="First Page">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>

                            <!-- Previous page -->
                            <li class="page-item {% if tab.page == 1 %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('view_logs', page=tab.page-1, per_page=tab.per_page, order=tab.order, table_name=tab.table_name, status=tab.status) }}"
                                    aria-label="Previous Page">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <!-- Page Numbers -->
                            {% for p in range(tab.start_page, tab.end_page + 1) %}
                            <li class="page-item {% if p == tab.page %}active{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('view_logs', page=p, per_page=tab.per_page, order=tab.order, table_name=tab.table_name, status=tab.status) }}">
                                    {{ p }}
                                </a>
                            </li>
                            {% endfor %}

                            <!-- Next page -->
                            <li class="page-item {% if tab.page == tab.total_pages %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('view_logs', page=tab.page+1, per_page=tab.per_page, order=tab.order, table_name=tab.table_name, status=tab.status) }}"
                                    aria-label="Next Page">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                            <!-- Last page -->
                            <li class="page-item {% if tab.page == tab.total_pages %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('view_logs', page=tab.total_pages, per_page=tab.per_page, order=tab.order, table_name=tab.table_name, status=tab.status) }}"
                                    aria-label="Last Page">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Page info -->
                <div class="col-12 text-center text-muted">
                    <small>صفحة {{ tab.page }} من {{ tab.total_pages }}
                        ({{ tab.start_log }} - {{ tab.end_log }} من إجمالي {{ tab.total_logs }} سجل)</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-bordered soro">
                        <thead>
                            <tr>
                                <th>المعرف</th>
                                <th>API</th>
                                <th>بيانات الطلب</th>
                                <th>حالة الطلب</th>
                                <th>مدة الاستجابة</th>
                                <th>آخر طلب</th>
                                <th>عدد الطلبات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>{{ log.id }}</td>
                                <td>{{ log.endpoint }}</td>
                                <td class="ltr_left">{{ log.request_data }}</td>
                                <td>{{ log.response_status }}</td>
                                <td>{{ log.response_time }}</td>
                                <td>{{ log.timestamp }}</td>
                                <td>{{ log.response_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<!--
<script>
    const perPageSelect = document.getElementById('per_page');
    const orderSelect = document.getElementById('order');

    // حفظ الخيارات عند التغيير
    perPageSelect.addEventListener('change', () => {
        localStorage.setItem('logs_per_page', perPageSelect.value);
    });

    orderSelect.addEventListener('change', () => {
        localStorage.setItem('logs_order', orderSelect.value);
    });

    // استرجاع القيم عند تحميل الصفحة
    window.addEventListener('DOMContentLoaded', () => {
        const savedPerPage = localStorage.getItem('logs_per_page');
        const savedOrder = localStorage.getItem('logs_order');

        if (savedPerPage && perPageSelect) {
            perPageSelect.value = savedPerPage;
        }

        if (savedOrder && orderSelect) {
            orderSelect.value = savedOrder;
        }
    });
    function applySettings() {
        const page = 1; // عند تغيير الإعدادات، نبدأ من الصفحة الأولى
        const perPage = perPageSelect.value;
        const order = orderSelect.value;
        const url = new URL(window.location.href);
        url.searchParams.set("page", page);
        url.searchParams.set("per_page", perPage);
        url.searchParams.set("order", order);
        window.location.href = url.toString();
    }
</script>
-->

{% endblock %}
