{% extends "main.html" %}

{% block title %}
<title>Logs Charts</title>
{% endblock %}

{% block content2 %}
<div class="container">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="card card_form">
        <div class="card-header text-center py-2">
            <h4 class="card-title mb-0 d-flex align-items-center justify-content-center">
                Logs Charts
            </h4>
        </div>

        <div class="card-body p-3">

            <!-- Month-Year Filter -->
            <div class="row">
                <div class="col-md-2">
                    <label for="yearSelect">Year:</label>
                    <select id="yearSelect" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <label for="monthSelect">Month:</label>
                    <select id="monthSelect" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <label for="dateStart">Date start:</label>
                    <select id="dateStart" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <label for="dateEnd">Date end:</label>
                    <select id="dateEnd" class="form-control"></select>
                </div>
                <div class="col-md-3 align-self-end">
                    <button class="btn btn-primary me-2" onclick="filterByMonthYear()">Apply Filter</button>
                    <button class="btn btn-secondary" onclick="resetFilters()">Reset</button>
                </div>
            </div>

            <!-- Charts -->
            <canvas id="totalLineChart" width="600" height="300"></canvas>
            <hr>
            <!-- <canvas id="resultsBarChart" width="600" height="300"></canvas> -->

            <!-- load x.js -->
            <script src="{{ url_for('static', filename='x.js') }}"></script>
            <script>
                // load fetchData(); after the page is fully loaded
                window.onload = function () {
                    fetchData();
                };
            </script>
        </div>
    </div>
</div>
{% endblock %}
