{% extends "main.html" %}
{% block title %}
<title>Categories titles</title>
{% endblock %}

{% block content %}
<div class="card card_form">
    <div class="card-header text-center py-2">
        <h4 class="card-title mb-0 d-flex align-items-center justify-content-center">
            <i class="bi bi-braces-asterisk"></i> الوظيفة الرئيسية
        </h4>
    </div>
    <div class="card-body p-3">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-2">
                        <label for="category" class="form-label fw-bold mb-2">
                            <i class="fas fa-link me-2"></i> ادخل العنوان
                            <div class="spinner-border spinner-border-sm" id="autocomplete_loading" role="status"
                                style="display: none;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </label>
                        <div class="input-group input-group-lg">
                            <input type="text" id="category" required name="category"
                                class="form-control input-group-input ltr_left" placeholder="Category:Yemen"
                                value="Category:">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-2">
                        <label for="result" class="form-label fw-bold mb-2">
                            النتيجة
                        </label>
                        <div class="input-group input-group-lg">
                            <input type="text" id="result" readonly name="result"
                                class="form-control input-group-input">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-primary btn-lg">
            <span id="notloading">بدء</span>
            <div id="loading" role="status" style="display: none;">
                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                <span role="status">جاري التحميل ...</span>
            </div>
        </button>
    </div>
    <script src="{{ url_for('static', filename='api.js') }}"></script>
</div>

{% endblock %}
